html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), /* طبقة شفافة */
    url('../Images/pattern.jpg')center;
}
header{
    background-color:transparent;
}

.logo {
    color: white;
    background: #ff5964;
    padding:4px;
    border-radius:5px;
    font-weight:700;
}
.brand {
    color: #ff5964;
    padding-left:4px;
    border-radius: 5px;
    font-weight: 700;
    font-size:1.2rem;
    text-decoration:none;
    border:2px solid;
    transition:all ease-in-out 0.3s;
}
    .brand:hover {
        color: #ff5964;
        background-color: white;

    }
nav{
    padding:0 3rem;
}